@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(222.2, 84%, 4.9%);
  --primary: hsl(222.2, 47.4%, 11.2%);
  --color-brand-primary: hsl(224, 68%, 46%);
  --primary-foreground: hsl(224.4, 50%, 10%);
  --secondary: hsl(210, 40%, 96.1%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
  --bg-mode-toggle: hsl(0, 0%, 94%);
  --background-banner: hsl(224, 68%, 46%);
  --background-primary: hsl(0, 0%, 100%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222.2, 84%, 4.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(222.2, 84%, 4.9%);
  --muted: hsl(210, 40%, 96.1%);
  --muted-foreground: hsl(224.4, 16.3%, 32%);
  --accent: hsl(210, 40%, 96.1%);
  --accent-foreground: hsl(222.2, 47.4%, 11.2%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(214.3, 31.8%, 91.4%);
  --input: hsl(214.3, 31.8%, 91.4%);
  --ring: hsl(222.2, 84%, 4.9%);
  --radius: 0.5rem;
  --sidebar-background: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(240, 5.3%, 26.1%);
  --sidebar-primary: hsl(240, 5.9%, 10%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(240, 4.8%, 95.9%);
  --sidebar-accent-foreground: hsl(240, 5.9%, 10%);
  --sidebar-border: hsl(220, 13%, 91%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --color-body: hsl(235, 8%, 30%);
  --text-secondary: rgb(164, 172, 195);
  
  --bg-color-line: #cbcbcb;
  --bg-color-page: #19223e;
  --color-black: #555555;

  --color-brand-primary-2: #8da6eb;
  --color-brand-secondary: #8576ff;
  --color-brand-black: #0e215d;
  --color-brand-white: #fff;
  --color-bg-1: #f6f8fd;
  --color-bg-2: #e1e5ef;
  --color-gradient-1: linear-gradient(141.71deg,
      rgba(80, 71, 153, 0.85) 16.42%,
      rgba(133, 118, 255, 0.85) 96.48%);
  
  --bg-footer-1: #bbdeea;
  --bg-footer-2: #eafdfc;

  --color-bg-1-dark: darken(#f6f8fd, 10%);
  --color-bg-highlight: var(--color-bg-2);
  --work-tuhoon: #daedea;
  --work-accounting: #f5ecaf;
  --work-news: #e0ecf8;
  --work-foodie: #ebbbbb;
  --work-gooddeeds: #e7cad0;
  --work-afiyah: #f1f7ee;
  --work-travel: #ddf1f4;
  --work-mansoub: #eafcff;
  --work-ink: #fcfaf8;
  --logo-text-color: var(--color-brand-primary);
  --logo-text-desc-color: var(--color-body);
  --logo-border-color: var(--color-brand-white);
  --logo-shadow-color: rgba(0, 0, 0, 0.1);
  --nav-border-color: rgba(0, 0, 0, 0.05);
  --nav-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03),
    0 4px 15px 0 rgba(0, 0, 0, 0.07);
  --nav-bg-color: var(--color-brand-white);
  --nav-item-color: #222;
  --theme-switch-item-color: grey;
  --theme-switch-active-icon-fill: #222;
  --theme-switch-active-item-bg: rgba(0, 0, 0, 0.1);
  --section-title-color: var(--color-brand-primary);
  --button-secondary-border-color: lightgrey;
  --button-secondary-bg-color: var(--color-brand-white);
  --button-secondary-text-color: #222;
  --button-primary-border-color: var(--color-brand-primary);
  --button-primary-bg-color: var(--color-brand-primary);
  --button-primary-text-color: var(--color-brand-white);
  --article-border-color: rgba(0, 0, 0, 0.1);
  --article-img-border-color: lightgrey;
  --article-title-text-color: var(--color-brand-primary);
  --article-time-text-color: #323d5e;
  --work-title-title-color: #474854;
  --work-title-desc-color: #474854;
  --work-item-border-color: rgba(0, 0, 0, 0.07);
  --quote-item-title-color: var(--color-brand-black);
  --tag-color: #222;
  --tag-bg-color: var(--color-bg-1);
  --tag-total-bg-color: var(--color-bg-1-dark);
}
.dark {
  --foreground: hsl(210, 40%, 98%);
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(0, 0%, 90%);
  --secondary: hsl(217.2, 32.6%, 17.5%);
  --secondary-foreground: hsl(210, 40%, 98%);
  --background-banner: hsl(224, 68%, 15%);
  --background-primary: hsl(225, 69%, 10%);
  --card: hsl(222.2, 84%, 4.9%);
  --card-foreground: hsl(210, 40%, 98%);
  --popover: hsl(222.2, 84%, 4.9%);
  --popover-foreground: hsl(210, 40%, 98%);
  --bg-mode-toggle: hsl(224, 68%, 46%);
  --muted: hsl(217.2, 32.6%, 17.5%);
  --muted-foreground: hsl(215, 20.2%, 79.1%);
  --accent: hsl(224, 68%, 46%);
  --accent-foreground: hsl(210, 40%, 98%);

  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 40%, 98%);

  --border: hsl(217.2, 32.6%, 17.5%);
  --input: hsl(217.2, 32.6%, 17.5%);
  --ring: hsl(212.7, 26.8%, 83.9%);
  --sidebar-background: hsl(240, 5.9%, 10%);
  --sidebar-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-primary: hsl(224.3, 76.3%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(240, 3.7%, 15.9%);
  --sidebar-accent-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-border: hsl(240, 3.7%, 15.9%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
}
:root.dark {
  --color-brand-black: #fff;
  --color-body: #ccd7fa;
  --color-bg-highlight: #5c51af8c;
  --logo-text-color: var(--color-brand-white);
  --logo-text-desc-color: var(--text-secondary);
  --logo-border-color: #000;
  --logo-shadow-color: rgba(255, 255, 255, 0.1);
  --theme-switch-item-color: #fff;
  --theme-switch-active-icon-fill: #fff;
  --theme-switch-active-item-bg: var(--color-brand-primary);
  --nav-border-color: hsla(224, 68%, 23%, 1);
  --nav-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.03),
    0 4px 20px 0 rgba(255, 255, 255, 0.05);
  --nav-bg-color: var(--bg-dark-2);
  --nav-item-color: var(--color-brand-white);
  --hero-title-highlight-color: var(--color-brand-primary-2);
  --hero-desc-color: #ccd7fa;
  --section-title-color: var(--color-brand-primary-2);
  --button-secondary-border-color: rgba(255, 255, 255, 0.2);
  --button-secondary-bg-color: var(--bg-dark-1);
  --button-secondary-text-color: var(--color-brand-white);
  --article-border-color: rgba(255, 255, 255, 0.1);
  --article-img-border-color: transparent;
  --article-title-text-color: var(--color-brand-white);
  --article-time-text-color: var(--text-secondary);
  --work-title-title-color: var(--color-brand-white);
  --work-title-desc-color: var(--text-secondary);
  --work-item-border-color: transparent;
  --quote-item-title-color: #ccd7fa;
  --tag-color: var(--color-brand-white);
  --tag-bg-color: rgba(255, 255, 255, 0.1);
  --tag-total-bg-color: rgba(255, 255, 255, 0.3);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  line-height: 1.25;
  font-family: monospace, sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.33333;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.14286;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.33333;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.6;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.77778;
}

h6 {
  font-size: 1rem;
  line-height: 1;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

li>ul, li>ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  font-style: italic;
  vertical-align: middle;
}

q {
  quotes: '‘' '’';
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  quotes: '“' '”';
}

input,
textarea,
button {
  font-family: inherit;
}

textarea {
  resize: none;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.test input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}